html,
body {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  min-height: 656px;
  height: 100vh;
  width: 100%;

  @media (min-width: 768px) {
    height: 656px;
  }
}

.container {
  width: 80%;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 90%;
  }

  @media (min-width: 1024px) {
    width: 75%;
    max-width: 1280px;
  }
}

@media (min-width: 768px) {
  .em_hide {
    display: none;
  }

  .em_show {
    display: block;
  }
}

@media (max-width: 480px) {
  .em_show {
    display: none;
  }
}
