.hero {
  position: relative;
  background: url(../public/img/bg-intro-mobile.svg) no-repeat;
  min-height: 100vh;
  width: 100%;

  @media (min-width: 768px) {
    background: url(../public/img/bg-intro-desktop.svg) no-repeat;
  }
}
