.navContainer {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 64px;
  padding: 20px 0 0 0;
  z-index: 300;
  // border: 1px solid #000;

  @media (min-width: 1024px) {
    height: 80px;
  }
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: 1024px) {
    justify-content: center;
    align-items: center;
  }
}

.brandContanier {
  margin-bottom: 15px;
}

.brand {
  &:hover {
    cursor: pointer;
  }
}

.navList {
  visibility: hidden;
  display: none;

  @media (min-width: 1024px) {
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

    li {
      list-style-type: none;
      // padding-left: 30px;
      color: #97969b;
      padding: 0px 0 0px 30px;
    }
  }
}

.bottom {
  border-bottom: 3px solid transparent;

  &:hover {
    border-color: #31d8aeca;
    cursor: pointer;
  }

  @media (min-width: 1024px) {
    height: 48px;
  }
}

.hoverBlock {
  display: none;
  width: 51px;
  height: 4px;
}

.hamburger {
  @media (min-width: 1024px) {
    display: none;
    visibility: hidden;
  }
}
