.cardBody {
  text-align: center;
  padding-bottom: 2.375rem;

  p {
    font-size: 0.825rem;
    color: #a5a6ab;
    line-height: 1.4;
  }

  @media (min-width: 1024px) {
    text-align: left;

    p {
      padding-right: 47px;
    }
  }
}
